[submodule "src/external/modules/pcl"]
	path = src/external/modules/pcl
	url = https://github.com/knz/pcl.git
[submodule "src/external/modules/openssl"]
	path = src/external/modules/openssl
	url = https://github.com/openssl/openssl.git
[submodule "src/external/modules/x264"]
	path = src/external/modules/x264
	url = https://git.videolan.org/git/x264.git
